body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 10vw 10vh;
    margin: 0;
}

html {
    box-sizing: border-box;
    height: 100vh;
}

.title {
    text-align: center;
}

.square {
    border: 2px solid black;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    flex: 1 1 20px;
}

.box {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    flex: 1 1 100px;
}

.boxContainer {
    display: flex;
    justify-content: center;
    flex: 0 1 800px;
    border: black solid 2px;
    aspect-ratio: 1 / 1;


}

.row {
    display: flex;
}